

.view__container {
  min-height: 100vh;
  display: flex;
  justify-content: flex-end;
  padding: 60px;
  box-sizing: border-box;
}

.view__content {
  max-width: 50%;
  width: 100%;
}

.view__logo {
  position: absolute;
  top: 20px;
  right: 60px;
}

.view__buttons {
  margin-top: 40px;
}

h1,
h2,
h3,
p {
  color: #fff;
  margin: 0;
  line-height: 1;
}

h1 {
  margin: 0px 0 40px;
  font-size: 32pt;
  line-height: 1;
}

h2 {
  font-size: 24pt;
  color: #ffb4c8;
}

p {
  font-size: 30pt;
  margin-top: 15vh;
}

button {
  background: none;
  border: 1px solid #fff;
  color: #fff;
  font-family: "Charm", serif;
  display: block;
  width: 100%;
  font-size: 16pt;
  margin-bottom: 14px;
  cursor: pointer;
  transition: 0.2s;
  padding: 4px 10px;
}

button:hover {
  background: #ffffff26;
}

@media screen and (max-width: 992px) {
  .view__content {
    max-width: 100%;
  }
}
