<div class="view__logo"><a href="https://github.com/weronikagulij/xstate-quizgame"><img src="github-mark-white.png" width="32"></a></div>
<div class="view__container">
  <div class="view__content">
    @let quizState = quizState$ | async;

    <h2>Metaphor: Refantazio</h2>
    <h1>Quiz: Which archetype are you?</h1>
    <p>{{ quizState?.description }}</p>

    <div class="view__buttons">
      @for (answer of quizState?.nextStates; track answer.description) {
      <button (click)="answerClick(answer.eventKey)">
        {{ answer.description }}
      </button>
      }
    </div>
  </div>
</div>
