@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Island+Moments&display=swap');

body {
  margin: 0;
  padding: 0;
  background: url("../public/bg.webp");
  width: 100%;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  font-family: "Charm", serif;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Island Moments", serif;
  font-weight: 400;
  font-style: normal;
}
